body{ font:#000;}
.panel-body{ margin:0; padding:0;}

.lb div{
    float:left;
	margin-right:20px;
}

.tdd{
	vertical-align: middle;
	text-align: center;

}

.an{
	width:660px;
	height:30px;
	float:right;
	
}
.modal {

    position: fixed;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    left: 500px;
}

.an div{
    float:left;
	margin-right:20px;
} 


.domian_tab { 
	color:black;
	width:100%;
	border-color:#337ab7;
	border-collapse:collapse;
	text-align:center;
}

.db {
	background:#FFF;
}

.zb {
	background:#ffffff;
	width:80px; 
	border:0px;
	height:40px;
	-webkit-appearance:none; 
	text-align:center;
}
.ppst{ 
     display: none; 
     position: absolute; 
     top: 0%; 
     left: 0%; 
     width: 100%; 
     height: 100%; 
 
} 
.over { 
     display: none; 
     position: relative; 
	 margin: 0 auto;
     width: 70%; 
     height: 70%; 
     background-color: red; 
     z-index:1002;	<!-- 优先级 -->
     overflow: auto;	 <!-- 内容滚动条 -->	
        }


.choose{
    width: 145px;
    text-align: center;
    border: 1px solid #ccc;
    color: #4BB2FF;
    top: 42px;
    left: 251px;
}
p {
    width: 145px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px 0px -3px 2px;
    color: #4BB2FF;
}

select[multiple], select[size] {
    height: 300px;
}

.sel-box {
    width: 100%;
    border: 1px solid #cccccc;

    padding: 10px;
    text-align: center;


    line-height: 30px;

}
