<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>软件工程项目实现管理系统</title>
	<link href="css/group/bootstrap-select.min.css" rel="stylesheet" />
	<link href="css/group/group.css" rel="stylesheet" type="text/css" >
    <link href="css/group/bootstrap.css" type="text/css" rel="stylesheet" >
	<script src="js/group/jquery.min.js" type="text/javascript"></script>
	<script src="js/group/bootstrap.min.js" type="text/javascript" ></script>
    <script src="js/group/bootstrap-select.js" type="text/javascript"></script>
    <script src="js/group/group.js" type="text/javascript"></script>
</head>
<body>
<div class="panel panel-primary" style="width:1200px; margin:0 auto; margin-top:30px;">
    <div class="panel-heading">
        <h3 class="panel-title">教师分组</h3>
    </div>
    <div class="panel-body">
        <div id="contanier" style="width:1000px; margin:0 auto;">
		<form method="get" action="#" role="form">
			<div id="choosenj" class="form-group">
				<select id="test_select" onchange="change(this)" class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索"  style="float:left; margin-left:30px;">
					<option value="0">选择</option>
					<option value="1">15</option>
					<option value="2">16</option>
					<option value="3">17</option>
				</select>
			</div>
			<div id="chooseclass" style="float:left;">
				<div id="test1" class="choose">
						<input type="button" id="class15_1" class="btn1" value="1501311" onclick="changeclass(value)"/>
						<input type="button" id="class15_2" class="btn1" value="1501312" onclick="changeclass(value)"/>
						<input type="button" id="class15_3" class="btn1" value="1501313" onclick="changeclass(value)"/>
						<input type="button" id="class15_4" class="btn1" value="1501411"/>
						<input type="button" id="class15_5" class="btn1" value="1501412"/>
				</div>
				<div id="test2" class="choose">
						<input type="button" id="class16_1" class="btn1" value="1601311"/>
						<input type="button" id="class16_2" class="btn1" value="1601312"/>
						<input type="button" id="class16_3" class="btn1" value="1601313"/>
						<input type="button" id="class16_4" class="btn1" value="1601411"/>
						<input type="button" id="class16_5" class="btn1" value="1601412"/>
				</div>
				<div id="test3" class="choose">
						<input type="button" id="class17_1" class="btn1" value="1701311"/>
						<input type="button" id="class17_2" class="btn1" value="1701312"/>
						<input type="button" id="class17_3" class="btn1" value="1701313"/>
						<input type="button" id="class17_4" class="btn1" value="1701411"/>
						<input type="button" id="class17_5" class="btn1" value="1701412"/>
				</div>
			</div>
			<div id="chooserm" style="float:right; margin-right:450px;">
				<div id="class1501311" class="chooseperson" >
					<table border="1" id="waybillTable_1" class="bordered"> 
					<thead> 
						<th style="text-align:center; height:40px; color:#0033FF;">成员</th>   
					</thead> 
					<tbody id="tab_sendValue1" style="width:200px;"> 
						<tr>
							<td><input type="checkbox" id="id150131104" class="check" name="item" value="150131104"><input type="button" id="btn150131104" class="btn1" onclick="sel(id)" value="曾令洋"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131105" class="check" name="item" value="150131105"><input type="button" id="btn150131105" class="btn1" onclick="sel(id)" value="吴迪"/></td> 						
						</tr>
						<tr> 
							<td><input type="button" id="btn150131101" class="btn1" onclick="sel(id)" value="潘晔"/></td>
						</tr>
						<tr>
							<td><input type="button" id="btn150131102" class="btn1" onclick="sel(id)" value="李恩书"/></td>
						</tr>
						<tr>
							<td><input type="button" id="btn150131103" class="btn1" onclick="sel(id)" value="张雨桐"/></td> 							
						</tr> 
					</tbody> 
					</table> 
					
                    <button type="button" id="fzbtn" style="width:200px; height:40px;" onclick="sendtoteam()" value="生成小组" class="btn btn-primary">生成小组</button>
					
				</div>
				<div id="class1501312" class="chooseperson" >
					<table border="1" id="waybillTable_2" class="bordered"> 
					<thead> 
						<tr> 
							<th style="text-align:center; height:40px; color:#0033FF;">成员</th>   
						</tr> 
					</thead> 
					<tbody id="tab_sendValue1"> 
						<tr> 
							<td><input type="checkbox" id="id150131201" class="check" name="item" value="2"><input type="button" id="150131201" class="btn1" onclick="sel(id)" value="李思琦"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131202" class="check" name="item" value="3"><input type="button" id="150131202" class="btn1" onclick="sel(id)" value="郭宇迪"/></td> 					
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131203" class="check" name="item" value="4"><input type="button" id="150131203" class="btn1" onclick="sel(id)" value="阮智利"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131204" class="check" name="item" value="5"><input type="button" id="150131204" class="btn1" onclick="sel(id)" value="徐可"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131205" class="check" name="item" value="6"><input type="button" id="150131205" class="btn1" onclick="sel(id)" value="盛鑫"/></td> 
						</tr> 
					</tbody> 
					</table> 
					
                    <button type="button" id="fzbtn" style="width:200px; height:40px;" onclick="sendtoteam()" value="生成小组" class="btn btn-primary">生成小组</button>
					
				</div>
				<div id="class1501313" class="chooseperson" >
					<table border="1" id="waybillTable_3" class="bordered"> 
					<thead> 
						<tr> 
							<th style="text-align:center; height:40px; color:#0033FF;">成员</th>  
						</tr> 
					</thead> 
					<tbody id="tab_sendValue1"> 
						<tr> 
							<td><input type="checkbox" id="id150131301" class="check" name="item" value="2"><input type="button" id="150131301" class="btn1" onclick="sel(id)" value="呼树森"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131302" class="check" name="item" value="3"><input type="button" id="150131302" class="btn1" onclick="sel(id)" value="张宏"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131303" class="check" name="item" value="4"><input type="button" id="150131303" class="btn1" onclick="sel(id)" value="关升"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131304" class="check" name="item" value="5"><input type="button" id="150131304" class="btn1" onclick="sel(id)" value="王鑫蕊"/></td> 
						</tr>
						<tr>
							<td><input type="checkbox" id="id150131305" class="check" name="item" value="6"><input type="button" id="150131305" class="btn1" onclick="sel(id)" value="张智博"/></td> 
						</tr>
					</tbody> 
					</table> 
					<button type="button" id="fzbtn" style="width:200px; height:40px;" onclick="sendtoteam()" value="生成小组" class="btn btn-primary">生成小组</button>
				</div>
			</div>
			<div id="bechoosed" style="float:right;">
				<table class="bordered1" border="1px"> 
				<thead> 
				<tr> 
					<th style="border:1px solid #CCCCCC; color:#0066FF;">已选成员</th> 
				</tr> 
				</thead> 
				<tbody id="tab_sendValue3" name="tab_sendValue3"> 
				</tbody> 
				</table>
			</div>
        </form>
	</div>
    </div>
</div>
	
	
</body>
</html>