<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title></title>
	<script src="js/group/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/group/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="css/group/bootstrap.css" rel="stylesheet" type="text/css" />
	<script th:inline="javascript">
        function load() {
            var names = new Array();
            names = [[${names}]];
            var tbHtml = "<tbody style='background: #FFFFFF;' id='memberBody'>";
            for(var i=0; i<names.length; i++){
                var trHtml = "<tr><td><input type= 'checkbox' /></td><td>"+names[i]+"</td></tr>"
                tbHtml += trHtml;
            }
            $('#memberBody').html(tbHtml);
        }
	</script>

	<style type="text/css">
		* {

		}
		.container {
			height: 500px;
			margin: 50px auto;
		}
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		button {
			color: white;
			background: #1A9FFF;
			padding: 10px;
			border: 1px solid #4493CC;
			margin-left: 10px;
			cursor: pointer;
			margin-top: 50px;
		}

		table {
			text-align: center;
			color: #5A5B56;
			font-size: 12px;
			background: #F2F2F2;
		}

		td {
			padding: 5px;
		}
	</style>
</head>
<body onload="load()">

<script type="text/javascript">
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]); return null;
        }
    })(jQuery);

    function subGroup() {
        var semester = decodeURI($.getUrlParam('semester'));
        var course = decodeURI($.getUrlParam('course'));
        var clas = decodeURI($.getUrlParam('clas'));
        $("#groupBody input").attr("checked","checked");
        var $tr = $("#groupBody tr");

        var group = "";
        for(var i = 0; i < $tr.length; i ++) { // 处理每行
            var members = new Array();
            group += "@";
            var $checked = $($tr[i]).find("input:checked");
         //   alert(i);
            for(var j = 0; j < $checked.length; j++) { // 处理每个单元格
                if($($checked[j]).parent().next().text() == "小组成员") { //过滤这个选择
                    continue;
                }group += "&";
                group += $($checked[j]).parent().next().text();
            //    group[i].push($($checked[j]).parent().next().text());
            //    alert($($checked[j]).parent().next().text());
                members.push($($checked[j]).parent().next().text());
            }
            group += "&";
        }
        group += "@";
        alert("aaa");
        $.ajax({
            type:"POST",
            url:"/saveGroup",
            data:{group:group,semester:semester,course:course,clas:clas},
            dataType: "JSON",
            async: true,
            success:function (data) {
                //   $(location).attr('href', 'index');
                alert(data.message);
                $(location).attr('href', 'index');
            }
        })
    }

    // 选中当前组所有的复选框
    function rowSelected(chec) {
        if(chec.checked) {
            var charr = $(chec).parent().parent().children().find("input");

            for(var i = 0; i < charr.length; i++) {
                $(charr[i]).attr("checked","checked");
            }

        } else {
            var charr = $(chec).parent().parent().children().find("input");

            for(var i = 0; i < charr.length; i++) {
                $(charr[i]).removeAttr("checked");
            }
        }

    }

    $(function() {
        $("#createGroup").click(function() {
            var $checked = $("#listTable input:checked");
            if($checked.length > 0) {  // 有选中的
                // 在右边生成一个小组
                var group = [];

                for(var i = 0; i < $checked.length; i++) {
                    var c = $checked[i];
                    $(c).parent().parent().remove();
                    group[i] = $(c).parent().next().text();
            //        alert(group[i]);
                }

                // 添加到小组
                var $tr = $("<tr><td><input type='checkbox' onChange='rowSelected(this)' /></td><td>小组成员</td></tr>")
                for(var i = 0; i < group.length; i ++) {
                    $tr.append($("<td><input type='checkbox' /></td>"));
                    $tr.append($("<td>"+group[i]+"</td>"));
                }
                $("#groupBody").append($tr);

            }
        });
        $("#returnList").click(function() {
            var $tr = $("#groupBody tr");

            for(var i = 0; i < $tr.length; i ++) { // 处理每行
                var members = new Array();
                var $checked = $($tr[i]).find("input:checked");
         //       alert(i);
                var removeList = new Array();
                for(var j = 0; j < $checked.length; j++) { // 处理每个单元格
                    if($($checked[j]).parent().next().text() == "小组成员") { //过滤这个选择
                        continue;
                    }
        //            alert($($checked[j]).parent().next().text());
                    members.push($($checked[j]).parent().next().text());

                    removeList.push($($checked[j]).parent()); // 复选框单元格
                    removeList.push($($checked[j]).parent().next());  // 姓名单元格
                }


                for(var x = 0; x < removeList.length; x++) { // 移除所有元素
                    $(removeList[x]).remove();
                }

                // 判断当前行是否只剩下两个单元格
                if($($tr[i]).children().find("input").size() == 1) $($tr[i]).remove();

                // 还原到成员表格
                for(var y = 0; y < members.length; y ++) {
                    var $newTr = $("<tr><td><input type='checkbox' /></td><td>"+members[y]+"</td></tr>");
                    $("#memberBody").append($newTr);
                }
            }
        });
        $("#memberAll").change(function() { // 选择所有成员
            if(this.checked) {
                $("#listTable input").attr("checked","checked");
            } else {
                $("#listTable input").removeAttr("checked");
            }
        });

        $("#selectedMember").change(function() { // 选择所有成员
            if(this.checked) {
                $("#groupBody input").attr("checked","checked");
            } else {
                $("#groupBody input").removeAttr("checked");
            }
        });



    });
</script>

<div class="container">
	<div class="left">
		<table id="listTable" border="1" bordercolor="#E8E8E8"  cellpadding="0" cellspacing="0">
			<thead style="background: #F2F2F2;">
                <tr>
                    <td><input type="checkbox" id="memberAll"  /></td>
                    <td>成员</td>
                </tr>
			</thead>
			<tbody style="background: #FFFFFF;" id="memberBody">
			<tr>
				<td><input type="checkbox" /></td>
				<td>李恩书</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>张雨桐</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>曾令详</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>张三</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>李四</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>曾令详</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>张三</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>李四</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>曾令详</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>张三</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>李四</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>曾令详</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>张三</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>李四</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>曾令详</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>张三</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>李四</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>王五</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="left">
		<button type="button" id="createGroup">生成小组</button> <br />
		<button type="button" id="returnList">返回列表</button>
	</div>
	<div class="left">
		<table id="groupTable" border="1" bordercolor="#E8E8E8"  cellpadding="0" cellspacing="0">
			<thead style="background: #F2F2F2;">
			<tr>
				<td><input type="checkbox" id="selectedMember" /></td>
				<td>已选成员</td>
			</tr>
			</thead>
			<tbody style="background: #FFFFFF;" id="groupBody">

			</tbody>
		</table>
	</div>
    <input type="button" class="btn btn-success" value="提交分组" onclick="subGroup()">
</div>
</body>
</html>
